.left-group-container{
  width: 100%;
}
.left-group-item{
  color: #a7a7a7
}
.left-second-title{
  color: #a7a7a7;
  border-left: orangered 3px solid;
  padding-left: 8px;
}
.left-group-items{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 12px;
}
.left-group-item{
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* font-size: 15px; */
  height: 26px;
  line-height: 26px;
  text-align: center;
  border-radius: 2px;
}
.left-group-item-wraper{
  width: 33%;
}
.left-group-item-wraper :hover{
  background-color: #26272e
}