.group-list-content{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.group-content-item {
  /* display: flex; */
  width: 10%;
  /* justify-content: flex-start; */
  padding: 0 18px;
  margin-bottom: 40px;
}