.group-content{
  /* position: absolute; */
  padding-top: 40px;
  margin-left: 12.5%;
  width: 87.5%;
  /* display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; */
}
.group-content-list-name{
  color: #666666;
  font-size: 20px;
  /* margin-top: 20px; */
  margin-left: 20px;
  margin-bottom: 40px;
}