.left-container{
  overflow: hidden;
  /* float: left; */
  position: fixed;
  left: 0;
  top: 70px;
  bottom: 0;
  height: 100%;
  width: 12.5%;
  background-color: #2d2e36
}

.left-title-text{
  height: 48px;
  line-height: 48px;
  color: #a7a7a7;
  padding-left: 10px;
}